.user-form {
  width: 35rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 1rem;
  gap: 10px;
}

.user-form label {
  font-weight: 600;
}

.user-form input {
  width: 94%;
  padding: 5px;
}

.user-form button {
  background: #8b005d;
  border: 1px solid #85005d;
  color: white;
  padding: 0.3rem 1rem;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.4mm;
}

.user-form button:hover,
.user-form button:active {
  background: #ac0e77;
  border-color: #ac0e77;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
